src/dev/
src/test/
src/production/
src/webapp/
src/main/resources/
src/main/java/org/mskcc/limsrest/receiver/SecurityConfiguration.java
src/main/java/org/mskcc/limsrest/web/SecurityConfiguration.java
GRADLECALL
.gradle/
curlConnect.txt
.svn
